doctype html
html
  head
    title Melon List
    //- link(rel='stylesheet' href='/static/css/input.css')
    //- link(rel='stylesheet' href='/static/css/mycss.css')
    script(src='static/js/main.js')
    - var number =1;
    
    style.
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 120vh; 
        background-color: #f9f9f9;
        font-family: 'Noto Sans KR', sans-serif;
      }

      .item1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        height: 5%;
        width: 100%;
      }
      .item2 {
        display: flex;
        flex-direction: row;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        height: 95%;
        width: 100%;
      }

      .item1-1, .item2-1 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      .item1-2, .item2-2 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      .item1-3, .item2-3 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-4, .item2-4 {
        width: 10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-5, .item2-5  {
        width: 20%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-6, .item2-6 {
        width: 15%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-7, .item2-7 {
        width: 10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item1-8, .item2-8 {
        width: 10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item2-8 a{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }


      .item1-9, .item2-9 {
        width: 10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item2-9 a{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; right: 4px
        
      }
      .addbasket {
        display:none;
        box-shadow: 0px 0px 5px #001;
      }

      .item1-10, .item2-10 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item2-10 a {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item1-11, .item2-11 {
        width: 5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .item2-11 a {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /* 모달 스타일링 */
      .modal {
        display: none; /* 기본적으로 모달은 숨김 처리 */
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        }

      .modal-content {
        margin: 10% auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #000;
        max-width: 600px;
        }

      .modal-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        }

      .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        }

      .modal-body {
        padding-bottom: 56.25%; /* 16:9 비율의 iframe을 위한 패딩 설정 */
        position: relative;
        }

      .modal-body iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        }

      .navigator {
        display:flex;
        align-items: center;
        width:40%;
        height:5vh;
      }

      input[type="form"][name="favorite"] {
      width: 30%;
      position: relative;
      border-radius: 10px;
      border: 2px solid rgba(0, 253, 76, 0.5);
      height: 100%;
      margin-top:5%;
      }

      .btn.btn-primary {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30%;
        border-radius: 20px;
        background-color: rgba(0, 253, 76, 0.5);
        box-shadow: 0px 0px 10px #000;
        margin-left:2%;
        margin-top: 5%;
      }

      .btn.btn-secondary {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 40%;
        border-radius: 20px;
        background-color: rgba(0, 253, 76, 0.5);
        box-shadow: 0px 0px 10px #000;
        margin-left:2%;
        margin-top: 5%;
      }

  body
    h1
      div(style='display: flex; align-items: center;')
        img(src=`/static/images/Melon로고.jpg` alt='이미지 없음')
        div.navigator
          input(type="form" name="favorite" placeholder="노래 검색")
          button.btn.btn-primary(type="button") (+) Play List
          button.btn.btn-secondary(type="button") 장바구니

    // 게시글 목록 표시 부분
    div.container
      div.item1
        span.item1-1
          input(type="checkbox" name="favorite" value="true")
        span.item1-2 순위
        span.item1-3 -
        span.item1-4
        span.item1-5 곡정보
        span.item1-6 앨범
        span.item1-7 좋아요
        span.item1-8 듣기
        span.item1-9 담기
        span.item1-10 다운
        span.item1-11 뮤비 
      each post in posts
        div.item2
          span.item2-1 
            input(type="checkbox" name="favorite" value="true")
          span.item2-2 #{number}
          - number++;
          span.item2-3 -
          span.item2-4
            img(src=`/static/images/${post.image}` style='max-width: 100%' , alt='이미지 없음')
          span.item2-5
            div #{post.title}
            div #{post.singer_name}  
          span.item2-6 앨범
          span.item2-7
            img(src='/static/images/하트.jpg' style='max-width: 20%' , alt='이미지 없음')
            span #{post.playcount}
          span.item2-8
            //- a(href=`${post.url}`, target='_blank')
            img.imgitem(src=`/static/images/play.jpg` style='max-width: 40%' ,alt=`${post.url}`)
          span.item2-9
            //- a(href=``, target='_blank')
            img.basket(src=`/static/images/장바구니.jpg` style='max-width: 40%' , alt='이미지 없음')
            img.addbasket(src=`/static/images/(클릭)장바구니.jpg` style='max-width: 40%' , alt='이미지 없음')
          span.item2-10
            a(href=``, target='_blank')
              img(src=`/static/images/다운로드.jpg` style='max-width: 50%' , alt='이미지 없음')
          span.item2-11
            a(href=``, target='_blank')
              img(src=`/static/images/뮤비.jpg` style='max-width: 70%' , alt='이미지 없음')


      // 모달 창
  div#myModal.modal
    .modal-content
      .modal-title Melon Song
      .modal-close &times;
      .modal-body
        iframe.frame(src='' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
